@CHARSET "UTF-8";
/**
 * EDRN Biomarker Database - Interface Definitions
 * 
 * Author: ahart (andrew.f.hart@jpl.nasa.gov)
 * Date: 24.July.2007
 *
 *
 * This is the alkalai skin for the edrn biomarker database
 *
**/

div#outerContainer {
	padding:5px;
	margin-top:15px;
	width:800px;	
}
div#titleImage {
	padding-top:0px;
	margin-top:-15px;
	border-bottom:solid 1px #ccc;	
}

div.contentBox {
	border:solid 1px #ccc;	
}

div#topStatus {
	background:url('../assets/images/grayfade.png') top left repeat-x;
	/*background-color:#eee;*/
	height:40px;
	width:100%;
	text-align:right;
	
}
div#breadcrumbs {
	float:left;	
}
div#loginStatus {
	float:right;	
}

div.categoryBox {
	width:220px;
	border:solid 1px #ccc;	
	margin:15px;
	margin-left:4px;
}

div.categoryBox h2 {
	background-color:#f3f3f3;
	padding-left:2px;
}


/**
 *	XLD Form Styles
 *  these apply to all dynamically generated XLD forms
**/
.xldBanner {
	border:solid 1px #ccc;
	font-size:24px;
	color:#fff;
}
.xldLabel {
	color:#444;	
	font-weight:bold;
	font-size:1.25em;
	padding:5px;
	padding-right:15px;
	padding-left:3px;
	vertical-align:top;
}
.xldRow {
	border:solid 1px #ccc;
	background-color:#dec;	
}

.xldText, .xldNumber, .xldSelect {
	font-size:1.2em;
	color:#333;	
	background-color:#f4f4f4;
	padding:5px;
}

.xldForm {
	width:530px;	
	border:outset 1px #888;
	padding:5px;
	margin:5px;
	margin-left:0px;
	background-color:#aaa;
}

/**
 *  PAGE EDIT FORMATS
 *
**/
#editTools {
	float:left;	
}
#editTools div.categoryBox {
	margin-top:5px;	
	margin-left:0px;
}
#editSubject {
	float:left;
	width:550px;
}

.rdf  {
	font-size:0.9em;
	background-color:#eef;
	border:dotted 3px #dde;
	padding:3px;
}

div#addResource {
	  background-color:#f4f4f4;
	  border:dotted 1px #d5d5d5;
	  padding:2px;
	
	}
.hint {
	color:#555;	
}


/* AUTOCOMPLETE STYLINGS */
	div.autocomplete {
      position:absolute;
      width:250px;
      background-color:white;
      border:1px solid #888;
      margin:0px;
      padding:0px;
    }
    div.autocomplete ul {
      list-style-type:none;
      margin:0px;
      padding:0px;
    }
    div.autocomplete ul li.selected { background-color: #ffb;}
    div.autocomplete ul li {
      list-style-type:none;
      display:block;
      margin:0;
      padding:2px;
      height:32px;
      cursor:pointer;
    }
