[onload;file=../../view/edrn_prologue.html;]
<div class="menu">
	<!-- Breadcrumbs Area -->
	<div id="breadcrumbs">
	EDRN Biomarker Database
	</div><!-- End Breadcrumbs -->
	<div class="mainContent">
		<h2 class="title">
		<a href="../../">Home</a> / Create Biomarker
		</h2>
	</div>
</div>
<div style="color:#422;background-color:#fcc;padding:5px;">
[onload;block=div;when [var.error;noerr] != ''][var.error;noerr]
</div>
<h2>Biomarker Creation</h2>
<div style="padding-left:5px;">
On this page you may create an entry in the database for a biomarker. 
Please provide the following required information:
<form action="[var..script_name]" method="POST">
	<table style="margin-top:15px;">
	  <tr><td>Biomarker Title:</td>
	  	  <td><input type="text" name="title" style="width:400px;padding:3px;border:solid 1px #ccc;font-size:110%;color:#679;"/></td>
	  	  <td><input type="submit" name="createBiomarker" value="Create!" style="padding:3px;color:#345;border:outset 1px #ccc"></td>
	  </tr>
	</table>

</form>
</div>