[onload;file=../../view/edrn_prologue.html;]
<div class="menu">
	<!-- Breadcrumbs Area -->
	<div id="breadcrumbs">
	EDRN Biomarker Database
	</div><!-- End Breadcrumbs -->
	<div class="mainContent">
		<h2 class="title">
		<a href="../../">Home</a> / Create Biomarker
		</h2>
	</div>
</div>
<div style="color:#422;background-color:#fcc;padding:5px;">
[onload;block=div;when [var.error;noerr] != ''][var.error;noerr]
</div>
<h2>Biomarker Creation</h2>
<div style="padding-left:5px;">
On this page you may create an entry in the database for a biomarker. 
Please provide the following required information:
<form action="[var..script_name]" method="POST">
	<table style="margin-top:15px;">
	  <tr><td>Biomarker Title:</td>
	  	  <td><input type="text" name="title" style="width:100%;padding:3px;border:solid 1px #ccc;font-size:110%;color:#679;"/></td>
	  </tr>
	  <tr><td colspan="2"><input id="ispanel" type="checkbox" name="ispanel"/>&nbsp;This is a Panel</td></tr>
	  <tr>
	    <td colspan="2">
	      <fieldset id="showpanel" style="position:relative;width:600px;font-size:90%;padding-top:15px;display:none;">
	        <legend>Panel Biomarkers:</legend>
	        Please select the Biomarkers that are members of this Panel.
	        <br/><br/>
	        <em><strong><u>Note:</u></strong></em> If a member Biomarker does NOT appear in the list below, it must be created separately <strong>BEFORE</strong> the 
	        panel is created.<br/><br/><span class="hint">You can select multiple Biomarkers by holding down Control (Apple key on Mac) while clicking.</span>
	        <select name="members[]" multiple="multiple" size="8"style="font-size:100%;width:100%;margin-top:9px;">
	          <option value="[biomarkers.objId]">[biomarkers.Title;block=option]</option>
	        </select>
	      </fieldset>
	    </td>
	  </tr>
	  <tr><td colspan="2"><input type="submit" name="createBiomarker" value="Create!" style="padding:3px;color:#345;border:outset 1px #ccc"></td></tr>
	</table>

</form>
</div>