[onload;file='view/menu.html']
<div id="outer_wrapper">
<div id="main_section">
	<h4>Basic Information:</h4>
		<table class="editable_info" cellspacing="0" cellpadding="0">
			<tr class="even"><td class="label" style="width:100px;">Title:</td><td><span id="title" class="editable object:Study id:[var.s.objId] attr:Title">[var.s.Title;ifempty='click to edit';noerr]</span></td></tr>
			<tr><td class="label">Status:</td><td><span id="status" class="editablelist object:Study id:[var.s.objId] attr:BiomarkerStudyType opts:[var.statusOpts]">[var.s.BiomarkerStudyType;ifempty='click to edit';noerr]</span></td></tr>
		</table>
	<h4>Biomarker Population Characteristics:</h4>
		<table class="editable_info" cellspacing="0" cellpadding="0">
			<tr class="even"><td class="label" style="width:100px;">Category:</td><td><span id="bpc" class="editablelist object:Study id:[var.s.objId] attr:BiomarkerPopulationCharacteristics opts:[var.bpcOpts]">[var.s.BiomarkerPopulationCharacteristics;ifempty='click to edit';noerr]</span></td></tr>
			<tr><td class="label">Description:</td><td><span id="bpcdesc" class="editable textarea object:Study id:[var.s.objId] attr:BPCDescription">[var.s.BPCDescription;ifempty='click to edit';noerr]</span></td></tr>
		</table>
	<h4>Study Design:</h4>
		<table class="editable_info" cellspacing="0" cellpadding="0">
			<tr class="even"><td class="label" style="width:100px;">Study Design:</td><td><span id="design" class="editablelist object:Study id:[var.s.objId] attr:Design opts:[var.designOpts]">[var.s.Design;ifempty='click to edit';noerr]</span></td></tr>
			<tr><td class="label">Description:</td><td><span id="designdesc" class="editable textarea object:Study id:[var.s.objId] attr:DesignDescription">[var.s.DesignDescription;ifempty='click to edit';noerr]</span></td></tr>
		</table>
	<h4>Abstract:</h4>
		<table class="editable_info" cellspacing="0" cellpadding="0">
			<tr><td class="label" style="width:100px;">Abstract:</td><td><span id="abstract" class="editable textarea object:Study id:[var.s.objId] attr:StudyAbstract">[var.s.StudyAbstract;ifempty='click to edit';noerr]</span></td></tr>
		</table>
</div>
</div><!-- end outer_wrapper -->
