[onload;file='view/menu.html']
<div id="outer_wrapper">
<div id="main_section">
<div style="padding:5px;background-color:#afa;margin-right:15px;border:solid 1px #6a6;margin-bottom:10px;"/>
<strong>Note:</strong> This is an EDRN study. The data on this page comes from the DMCC and is not editable here.
</div>
	<h4>Basic Information:</h4>
		<table class="editable_info" cellspacing="0" cellpadding="0">
			<tr class="even"><td class="label" style="width:100px;">Title:</td><td>[var.s.Title;ifempty='<em>Not Specified</em>';noerr]</td></tr>
			<tr><td class="label">Status:</td><td>[var.s.BiomarkerStudyType;ifempty='<em>Not Specified</em>';noerr]</td></tr>
		</table>
	<h4>Biomarker Population Characteristics:</h4>
		<table class="editable_info" cellspacing="0" cellpadding="0">
			<tr class="even"><td class="label" style="width:100px;">Category:</td><td>[var.s.BiomarkerPopulationCharacteristics;ifempty='<em>Not Specified</em>';noerr]</td></tr>
			<tr><td class="label">Description:</td><td>[var.s.BPCDescription;ifempty='<em>Not Specified</em>';noerr]</td></tr>
		</table>
	<h4>Study Design:</h4>
		<table class="editable_info" cellspacing="0" cellpadding="0">
			<tr class="even"><td class="label" style="width:100px;">Study Design:</td><td>[var.s.Design;ifempty='<em>Not Specified</em>';noerr]</td></tr>
			<tr><td class="label">Description:</td><td>[var.s.DesignDescription;ifempty='<em>Not Specified</em>';noerr]</td></tr>
		</table>
	<h4>Abstract:</h4>
		<table class="editable_info" cellspacing="0" cellpadding="0">
			<tr><td class="label" style="width:100px;">Abstract:</td><td>[var.s.StudyAbstract;ifempty='<em>Not Specified</em>';noerr]</td></tr>
		</table>
</div>
</div><!-- end outer_wrapper -->
