[onload;file='view/menu.html']
<div id="outer_wrapper">
<div id="main_section">
	<h4 style="margin-bottom:19px;">Biomarkers with data for this study:</h4>
	<ul style="list-style-type:none;list-style:position:inside;margin:0px;padding:0px;margin-left:5px;">
	  <li style="margin-bottom:15px;"><a href="../biomarkerorgan/?view=studies&id=[bosd.BiomarkerOrganData.objId;block=li]">[bosd.BiomarkerOrganData.Biomarker.Title]</a> ([bosd.BiomarkerOrganData.Organ.Name])</li>
	</ul>
</div>
</div><!-- end outer_wrapper -->
<script type="text/javascript">
	[onload;block=script;noerr;when [var.editable] != 0]
</script>