[onload;file=../../view/edrn_prologue.html;]
<div class="menu">
	<div class="mainContent">
		<h2 class="title">EDRN Biomarker Database</h2>
	</div>
	<!-- Breadcrumbs Area -->
	<div id="breadcrumbs">
		<a href="../../">Home</a> / 
		<a href="../../browse/studies/">Studies</a> /
		<span>[onload;block=span; when [var.view]='basics'][var.s.Title]</span>
		<span><a href="./?id=[var.s.objId]">[var.s.Title]</a> / Biomarker-Organs [onload;block=span;when [var.view]='biomarkerorgans']</span>
		<span><a href="./?id=[var.s.objId]">[var.s.Title]</a> / Publications [onload;block=span;when [var.view]='publications']</span>
		<span><a href="./?id=[var.s.objId]">[var.s.Title]</a> / Resources [onload;block=span;when [var.view]='resources']</span>
	</div><!-- End Breadcrumbs -->
	<div id="smallLinks">
		<ul>
		  <li class="[var.view;if [val]='basics'; then 'activeLink'; else '']"><a href="./?view=basics&id=[var.s.objId]">Basics</a></li>
		  <li class="[var.view;if [val]='biomarkerorgans'; then 'activeLink'; else '']"><a href="./?view=biomarkerorgans&id=[var.s.objId]">Biomarker-Organs</a></li>
		  <li class="[var.view;if [val]='publications'; then 'activeLink'; else '']"><a href="./?view=publications&id=[var.s.objId]">Publications</a></li>
		  <li class="[var.view;if [val]='resources'; then 'activeLink'; else '']"><a href="./?view=resources&id=[var.s.objId]">Resources</a></li>
		</ul>
		<div class="clr"><!--  --></div>
	</div>
</div>