<div id="outer_wrapper">
<div id="main_section">
	<h4 style="margin-bottom:19px;">Associated Studies:</h4>
	<ul style="list-style:square;color:#900003;margin:0px;padding:0px;list-style-position:inside;list-style:none;">
	  <li style="margin-bottom:25px;"><span id="summary[studyData.objId]">
	  	<a href="../biomarkerorgan/?id=20">[studyData.Study.Title;block=li]</a><br/>
	  	<span class="hint">
	  	  [<span class="pseudolink" onclick="showDetails([studyData.objId]);">View Associated Data</span>] 
	  	  [<a href="../study/?id=[studyData.Study.objId]">Go To Study</a>]
	  	  [<a href="./?id=[var.b.objId]&remove_study=[studyData.objId]" onclick="return confirm('All [var.b.Title] data (Sensitivity, Specificity, etc) for \'[studyData.Study.Title]\' will be deleted. Proceed?');">Remove Association</a>]
	  	</span>
	  </span><span id="details[studyData.objId]" style="display:none;">
	  <fieldset><legend>[studyData.Study.Title] &nbsp;
		<span class="hint">[ <span class="pseudolink" onclick="hideDetails([studyData.objId]);">(Hide Details)</span> ]</span></legend>
	  	<h4>Abstract: &nbsp;&nbsp;<span class="hint">(from <a href="../study/?id=[studyData.Study.objId]">here</a>)</span></h4>
		<div style="padding-left: 10px; padding-right: 10px; padding-bottom: 15px; font-size: 90%; line-height: 1.3em; text-align: justify;">
		[studyData.Study.StudyAbstract;ifempty='<em>No Abstract Available</em>']
		</div>
		<h4>Pertinent Data</h4>
		<table class="editable_info" style="margin-left:5px;">
		  <tr><td class="label">Sensitivity:</td><td style="width:200px;"><span id="sensitivity[studyData.objId]">[studyData.Sensitivity]</span></td></tr>
		  <tr><td class="label">Specificity:</td><td><span id="specificity[studyData.objId]">[studyData.Specificity]</span></td></tr>
		  <tr><td class="label">Negative Predictive Value:</td><td><span id="npv[studyData.objId]">[studyData.NPV]</span></td></tr>
		  <tr><td class="label">Positive Predictive Value:</td><td><span id="ppv[studyData.objId]">[studyData.PPV]</span></td></tr>
		</table>
		<h4 style="margin-bottom:14px;">Associated Publications</h4>
		<div style="position:relative;">
		<ul id="pubs[studyData.objId]" style="list-style-type:none;margin:0px;padding:0px;list-style-position:inside;margin-left:5px;">
			<li id="s[studyData.objId]p[studyPublications.objId]" style="margin-bottom:15px;"><a href="../publication/?id=[studyPublications.objId]">[studyPublications.Title;block=li;p1=[studyData.$]]</a><br/>
	 		 	<span class="hint" style="color:#888;">Author: [studyPublications.Author]. Published in [studyPublications.Year] in: [studyPublications.Journal] (volume [studyPublications.Volume;ifempty='n/a'], issue [studyPublications.Issue;ifempty='n/a'])</span> &nbsp;
	 		 	<span class="hint">[<span class="pseudolink" onclick="if(confirm('Publication \'[studyPublications.Title]\' will no longer be associated here. Proceed?')){dissocPub([studyData.objId],[studyPublications.objId],'s[studyData.objId]p[studyPublications.objId]');}">Remove Association</span>]</span><br/>
			</li>
		</ul>
		<!-- IMPORT PUBLICATION BOX -->
		<div class="optbox" style="top:-30px;right4px;width:340px;">
			<div class="hidelink">[ <span id="optxp[studyData.objId]" class="pseudolink" onclick="$('options_content[studyData.objId]').toggle();">show more/less</span> ]</div>
			<h5>Associate a Publication:</h5>
			<div id="options_content[studyData.objId]" style="display:none;">
			<ul class="menu">
			  <li id="li_local[studyData.objId]" class="activelink" style="border-left:solid 1px #aaa;"><span class="pseudolink" style="color:#000;" onclick="tshow([studyData.objId],'local');">Local</span></li>
			  <li id="li_pubmed[studyData.objId]"><span class="pseudolink" style="color:#000;" onclick="tshow([studyData.objId],'pubmed');">PubMed</span></li>
			  <li id="li_other[studyData.objId]"><span class="pseudolink" style="color:#000;" onclick="tshow([studyData.objId],'other');">Other</span></li>
			</ul>
			<div class="clr"><!--  --></div>
			<!-- LOCAL PUBLICATION ASSOCIATION -->
			<div id="div_assocLocal[studyData.objId]" style="padding:8px;border-top:solid 1px #555;display:block;">
				<h4 style="margin-top:0px;">Local Lookup</h4>
				<form action="[var..script_name]" method="POST">
					<input type="hidden" name="biomarkerorgan_id" value="[var.bo.objId]"/>
					<script type="text/javascript">ajaxti('assoc_pub[studyData.objId]','','100%','../../xpress/js/AjaxAutocomplete.php','Publication','Title','','publication_id','Title');</script>
					<span class="hint" style="float:left;">Begin typing. A list of options will appear.</span>
					<input type="button" value="Associate" style="float:right;padding:2px;" onclick="if($('assoc_pub[studyData.objId]AutocompleteID').value){assocPub([studyData.objId],$('assoc_pub[studyData.objId]AutocompleteID').value,'pubs[studyData.objId]');}"/>
				</form>
			</div>
			<!-- PUBMED IMPORT & ASSOCIATION -->
			<div id="div_assocPubMed[studyData.objId]" style="padding:8px;border-top:solid 1px #555;display:none;">
				<h4 style="margin-top:0px;">PubMed Import</h4>
			</div>
			<!-- OTHER IMPORT AND ASSOCIATION -->
			<div id="div_assocOther[studyData.objId]" style="padding:8px;border-top:solid 1px #555;display:none;">
		
			</div>
		</div><!-- END IMPORT PUBLICATION BOX -->
		</div>
		</div>
	  </fieldset>
	  </span>
	  </li>
	</ul>
</div>
<div id="options_section" style="width:350px;">
	<div class="hidelink">[ <span id="optxp" class="pseudolink" onclick="$('options_content').toggle();">show more/less</span> ]</div>
	<h5>Associate a Study:</h5>
	<div id="options_content" style="display:none;">
		<form action="[var..script_name]" method="POST">
		<input type="hidden" name="biomarker_id" value="[var.b.objId]"/>
		<script type="text/javascript">ajaxti('assoc_study','','100%','../../xpress/js/AjaxAutocomplete.php','Study','Title','','study_id','Title');</script>
		<span class="hint" style="float:left;">Begin typing. A list of options will appear.</span>
		<input type="submit" name="associate_study" value="Associate" style="float:right;padding:2px;"/>
		</form>
	</div>
</div>
</div><!-- end outer_wrapper -->
<script type="text/javascript">
	[onload;block=script;noerr;when [var.editable] != 0]
</script>
<script type="text/javascript">
	[onload;block=script;noerr;when [var.editable] != 0]
	new Ajax.InPlaceEditor('sensitivity[studyDataJs.objId;block=script]','../../xpress/js/AjaxHandler.php',{callback: function(form, value) { return 'action=update&objType=BiomarkerStudyData&objID=[studyDataJs.objId]&attr=Sensitivity&value='+encodeURIComponent(value);}, cols:3,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
	new Ajax.InPlaceEditor('specificity[studyDataJs.objId]','../../xpress/js/AjaxHandler.php',{callback: function(form, value) { return 'action=update&objType=BiomarkerStudyData&objID=[studyDataJs.objId]&attr=Specificity&value='+encodeURIComponent(value);}, cols:3,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
	new Ajax.InPlaceEditor('npv[studyDataJs.objId]','../../xpress/js/AjaxHandler.php',{callback: function(form, value) { return 'action=update&objType=BiomarkerStudyData&objID=[studyDataJs.objId]&attr=NPV&value='+encodeURIComponent(value);}, cols:3,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
	new Ajax.InPlaceEditor('ppv[studyDataJs.objId]','../../xpress/js/AjaxHandler.php',{callback: function(form, value) { return 'action=update&objType=BiomarkerStudyData&objID=[studyDataJs.objId]&attr=PPV&value='+encodeURIComponent(value);}, cols:3, highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
</script>
<script type="text/javascript">
function showDetails(id) {
	$('summary'+id).style.display = 'none';
	$('details'+id).style.display = 'block';
}
function hideDetails(id) {
	$('details'+id).style.display = 'none';
	$('summary'+id).style.display = 'block';
}
</script>
<script type="text/javascript">
	function tshow(id,elmtName) {
		switch (elmtName) {
			case 'local':
				$('div_assocPubMed'+id).hide();
				$('div_assocOther'+id).hide();
				$('li_pubmed'+id).removeClassName('activelink');
				$('li_other'+id).removeClassName('activelink');
				$('li_local'+id).addClassName('activelink');
				$('div_assocLocal'+id).show();
				break;
			case 'pubmed':
				$('div_assocLocal'+id).hide();
				$('div_assocOther'+id).hide();
				$('li_local'+id).removeClassName('activelink');
				$('li_other'+id).removeClassName('activelink');
				$('li_pubmed'+id).addClassName('activelink');
				$('div_assocPubMed'+id).show();
				break;
			case 'other':
				$('div_assocLocal'+id).hide();
				$('div_assocPubMed'+id).hide();
				$('li_local'+id).removeClassName('activelink');
				$('li_pubmed'+id).removeClassName('activelink');
				$('li_other'+id).addClassName('activelink');
				$('div_assocOther'+id).show();
				break;
			default:break;				
		}
	}
</script>
<script type="text/javascript">
	function assocPub(bosdId,pubId,containerId) {
		new Ajax.Request(
			'../../xpress/js/AjaxHandler.php',{
			method:'post',
			parameters:'action=associate&obj1Type=BiomarkerOrganStudyData&obj1Id='+bosdId+'&obj1Attr=Publications&obj2Type=Publication&obj2Id='+pubId+'&obj2Attr=BiomarkerOrganStudies',
			onSuccess: function (transport){
				ajax_getLinkedPub(bosdId,pubId,containerId);
			}
		});
	}
	function dissocPub(bosdId,pubId,containerId) {
		new Ajax.Request(
			'../../xpress/js/AjaxHandler.php',{
			method:'post',
			parameters:'action=dissociate&obj1Type=BiomarkerOrganStudyData&obj1Id='+bosdId+'&obj1Attr=Publications&obj2Type=Publication&obj2Id='+pubId+'&obj2Attr=BiomarkerOrganStudies',
			onSuccess: function (transport){
				Effect.Fade(containerId);
			}
		});
	}
	function ajax_getLinkedPub(bosdId,pubId,containerId) {
		new Ajax.Request(
			'../../xpress/extensions/ajax_get.php',{
				method:'get',
				parameters:'otype=Publication&oid='+pubId,
				onSuccess: function (transport) {
					post_assocPub(bosdId,containerId,transport.responseText);
				}
		});
	}
	function post_assocPub(bosdId,containerId,response) {
		var jss = String(response);
		var pub = jss.evalJSON(true);
		var li = new Element('li',{ 'id':'s'+bosdId+'p'+pub.objId,'style':'margin-bottom:15px;'});
		var a  = new Element('a',{'href':'../publication?id='+pub.objId}).update(pub.Title);
		var br = new Element("br");
		var h1 = new Element("span",{'class':'hint','style':'color:#888;'}).update('Author: '+pub.Author+' Published in '+pub.Year+' in: '+pub.Journal+' (volume '+pub.Volume+', issue '+pub.Issue+') &nbsp;');
		var h2 = new Element("span",{'class':'hint'}).update('[');
		var a2 = new Element("span",{'class':'pseudolink','onclick':'if(confirm(\'Publication \\\''+pub.Title+'\\\' will no longer be associated here. Proceed?\')){dissocPub('+bosdId+','+pub.objId+',\'s'+bosdId+'p'+pub.objId+'\');}'}).update('Remove Association');
		
		li.insert(a);
		li.insert(br);
		li.insert(h1);
		h2.insert(a2);
		h2.insert(']');
		li.insert(h2);
		$(containerId).insert(li);
	}
</script>