.over {background: #ddffd7;}
.editable.hidden, .editablelist.hidden, .editablearea.hidden {display: none;}
.eiptextarea {
	width:80%;
	height:120px;	
	border:solid 1px #ccc;
	padding:5px;
	font-size:100%;
}
.item {background: #F00;}