/* - edrncontent.css - */
@media all {
/* http://edrndemo.org/portal_css/edrncontent.css?original=1 */
/* */
.fundingOp {
border-collapse: collapse;
margin: 1em 0;
}
.fundingOp td {
padding: 0 1em 0.5em 0;
}
.fundingOp tr td:first-child {
width: 10em;
font-weight: bold;
}
.fundingOp ul {
list-style-type: none;
list-style-image: none;
margin-left: 0;
padding-left: 0;
}
/* */

}


/* - eke.css - */
@media all {
/* http://edrndemo.org/portal_css/eke.css?original=1 */
/* */
/* */
#ekeRelations {
padding: 1em 0 2em 0;
border-bottom: 1px solid #999;
}
#ekeRelations li {
list-style-image: none;
list-style: none outside none;
display: inline;
padding: 0 2em 0 0;
}
.ekeHomeLink {
float: right;
font-size: 80%;
border: 1px solid #999;
background-color: #eee;
margin: 0;
}
.ekeHomeLink a {
color: #999 !important;
text-decoration: none;
border-bottom: none !important;
}
.ekeHomeLink a:visited {
color: #999 !important;
}
.ekeHomeLink a:hover {
background-color: #fff !important;
}
.ekeTopics {
padding-top: 1em;
text-align: center;
margin-left: 10%;
margin-right: 10%;
}
.topicColumn {
width: 150px;
float: left;
text-align: left;
}
.topicColumn li {
list-style-image: none;
list-style: none outside none;
}
.ekeSearchForm {
text-align: center;
border-bottom: 1px solid #999;
padding-bottom: 3em;
}
.ekeSearchForm h5 {
font-size: 110%;
font-weight: bold;
}
.resClassHint {
border-bottom: 1px solid #999;
}
.rdfProperties thead tr th {
background: #f7f9fa url(http://edrndemo.org/tab-bg.gif) repeat-x top;
padding: 0.5em;
}
.rdfProperties tbody tr td {
padding: 0.5em 1em;
}
.rdfProperties tbody tr td.even {
background-color: transparent
}
.rdfProperties tbody tr td.odd {
background-color: #f7f9fa
}
/* */
.ygtvtn { background: url(http://edrndemo.org/tn.gif) 0 0 no-repeat; width:17px; height:22px; }
/* */
.ygtvtm { background: url(http://edrndemo.org/tm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
/* */
.ygtvtmh { background: url(http://edrndemo.org/tmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
/* */
.ygtvtp { background: url(http://edrndemo.org/tp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
/* */
.ygtvtph { background: url(http://edrndemo.org/tph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
/* */
.ygtvln { background: url(http://edrndemo.org/ln.gif) 0 0 no-repeat; width:17px; height:22px; }
/* */
.ygtvlm { background: url(http://edrndemo.org/lm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
/* */
.ygtvlmh { background: url(http://edrndemo.org/lmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
/* */
.ygtvlp { background: url(http://edrndemo.org/lp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
/* */
.ygtvlph { background: url(http://edrndemo.org/lph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
/* */
.ygtvloading { background: url(http://edrndemo.org/loading.gif) 0 0 no-repeat; width:16px; height:22px; }
/* */
.ygtvdepthcell { background: url(http://edrndemo.org/vline.gif) 0 0 no-repeat; width:17px; height:22px; }
.ygtvblankdepthcell { width:17px; height:22px; }
/* */
.ygtvitem { }
/* */
.ygtvchildren { }
* html .ygtvchildren { height:1%; }
/* */
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover {
margin-left:2px;
text-decoration: none;
}
#eke-banner {
margin-bottom: 1em;
}
#eke-tools {
color: Black;
padding: 0 3em 0 0;
margin: 0;
text-align: left;
text-transform: none;
list-style: none;
line-height: 44px;
font-size: 90%;
}
#eke-tools li {
color: #436976;
margin-left: 1em;
display: inline;
padding: 12px 0 32px 0;
min-height: 44px;
}
#eke-tools li a {
text-decoration: none;
border-bottom: none;
color: #436976;
}
#eke-tools .visualIconPadding {
padding-left: 42px;
}
.matchingResource {
margin: 0 1em 2em 0;
border-top: 1px dashed #999;
}
.matchingResource table {
border-collapse: collapse;
}
.matchingResource th {
border-bottom: 1px solid #999;
}
.matchingResource td {
padding-right: 2em;
}
.matchingURL {
font-size: 130%;
margin-bottom: 0.5em;
}
.matchingDescription {
margin-bottom: 0;
}
/* */
.tabberlive .tabbertabhide {
display: none;
}
.tabber {}
.tabberlive {
margin-bottom: 1em;
}
ul.tabbernav {
margin:0;
padding: 1px 0;
border-bottom: 1px solid #e2e2e2;
text-align: center;
}
ul.tabbernav li {
list-style: none;
margin: 0;
display: inline;
}
ul.tabbernav li a {
padding: 3px 0.5em;
margin-left: 0;
border: 1px solid #e2e2e2;
border-style: solid none solid dotted;
text-decoration: none;
color: #5d8811;
position: relative;
top: 1em;
background-color: White;
}
ul.tabbernav li a:hover {
background: transparent url(http://edrndemo.org/tab-bg.gif) top repeat-x;
border-color: #e2e2e2;
}
ul.tabbernav li a:active {
color: #5d8811;
}
ul.tabbernav li.tabberactive a {
background: transparent url(http://edrndemo.org/tab-bg.gif) top repeat-x;
color: #5d8811;
}
ul.tabbernav li.tabberactive a:hover {
background: transparent url(http://edrndemo.org/tab-bg.gif) top repeat-x;
}
.tabberlive .tabbertab {
padding: 3em 0 0 1em;
border:1px solid #e2e2e2;
border-top:0;
}
.tabberlive .tabbertab h2 {
display:none;
}
.tabbertab {
min-height: 24em;
}
* html .tabbertab {height: 1%} /* */
/* */

}


/* - ploneCustom.css - */
@media all {
/* http://edrndemo.org/portal_css/ploneCustom.css?original=1 */
/* */
/* */
/* */
/* */
/* */

}

