[onload;file=../../view/edrn_prologue.html;]
<div class="menu">
	<div class="mainContent">
		<h2 class="title">EDRN Biomarker Database</h2>
	</div>
	<!-- Breadcrumbs Area -->
	<div id="breadcrumbs">
	<a href="../../">Home</a> / Biomarkers
	</div><!-- End Breadcrumbs -->
</div>
<div class="searcher">
	<div>
	<form action="../../edit/biomarker/index.php" method="GET">
		<input type="hidden" id="biomarker_id" name="id" value=""/>
		<input type="text" id="biomarker-search" value=""/>
		<input type="submit" value="Search"/>
		<div class="clr"><!--  --></div>
	</form>
	</div>
</div>
<h2>Biomarker Directory:</h2>
<div class="navigation">
	<a class="page [var.start;if [val]=[pages.start];then 'current';else '']" href="./?start=[pages.start;block=a]&count=[var.count]">[pages.label]</a>
</div>
<br/>

<table id="elements" cellspacing="0" cellpadding="0">
  <tr>
    <th>Long Name <span class="hint">
    	[sort: <a href="./?start=[var.start]&count=[var.count]&order_by=name&order=up">up</a> | 
    		   <a href="./?start=[var.start]&count=[var.count]&order_by=name&order=down">down</a>]</span></th>
    <th>ID <span class="hint">
    	[sort: <a href="./?start=[var.start]&count=[var.count]&order_by=urn&order=up">up</a> | 
			   <a href="./?start=[var.start]&count=[var.count]&order_by=urn&order=down">down</a>]</span></th>
    <th>Type <span class="hint">
    	[sort: <a href="./?start=[var.start]&count=[var.count]&order_by=type&order=up">up</a> | 
    		   <a href="./?start=[var.start]&count=[var.count]&order_by=type&order=down">down</a>]</span></th>
  </tr>
  <tr>
    <td><a href="../../edit/biomarker/?id=[marker.objId]">[marker.Title;block=tr;]</a></td>
    <td>[marker.BiomarkerID]</td>
    <td>[marker.Type]</td>
  </tr>
  <tr style="background-color:#f4f4f4;">
    <td><a href="../../edit/biomarker/?id=[marker.objId]">[marker.Title;block=tr]</a></td>
    <td>[marker.BiomarkerID]</td>
    <td>[marker.Type]</td>
  </tr>
</table>
