<!-- TBS template for BiomarkerStudyData object browser -->
<div id="xpress_header"></div><div id="xp_browser_wrapper"><h1 class="xp_browser_nav"><a href="./">Model Browser</a> :: BiomarkerStudyData</h1>
<div class="xp_browser_new">
<h3>Create a new BiomarkerStudyData Object:</h3>
<form method="POST">
<table>
<tr><td>Sensitivity:</td><td><input type="text" name="Sensitivity"/></td></tr>
<tr><td>Specificity:</td><td><input type="text" name="Specificity"/></td></tr>
<tr><td>PPV:</td><td><input type="text" name="PPV"/></td></tr>
<tr><td>NPV:</td><td><input type="text" name="NPV"/></td></tr>
<tr><td>Assay:</td><td><input type="text" name="Assay"/></td></tr>
<tr><td>Technology:</td><td><input type="text" name="Technology"/></td></tr>
<tr><td>Study Id:</td><td><input type="text" name="StudyId"/></td></tr>
<tr><td>Biomarker Id:</td><td><input type="text" name="BiomarkerId"/></td></tr>
<tr><td>Study Id:</td><td><input type="text" name="StudyId"/></td></tr>
<tr><td>Biomarker Id:</td><td><input type="text" name="BiomarkerId"/></td></tr>
<tr><td colspan="2" style="text-align:right;"> <input type="submit" name="createObject" value="Create Object"/></td></tr>
</table>
</form>
</div>
<div id="xp_browser_existing">
<h3>Existing BiomarkerStudyData Objects:</h3>
<table>
  <tr>
  <th>&nbsp;</th>
<th>&nbsp;
<th>objId</th>
<th>Sensitivity</th>
<th>Specificity</th>
<th>PPV</th>
<th>NPV</th>
<th>Assay</th>
<th>Technology</th>
  </tr>
  <tr>
    <td><a style="text-decoration:none;" href="?id=[obj.objId;block=tr]"><input type="button" value="Edit"/></a>
     <td><form method="POST"><input type="hidden" name="id" value="[obj.objId]"/><input type="submit" name="deleteObject" value="Delete" onclick="return confirm('Really delete this object?');"/></form></td>    <td style="text-align:center;">[obj.objId]</td>
    <td style="text-align:center;">[obj.Sensitivity]</td>
    <td style="text-align:center;">[obj.Specificity]</td>
    <td style="text-align:center;">[obj.PPV]</td>
    <td style="text-align:center;">[obj.NPV]</td>
    <td style="text-align:center;">[obj.Assay]</td>
    <td style="text-align:center;">[obj.Technology]</td>
  </tr>
</table>
</div>
</div>

