<!-- TBS template for BiomarkerAlias object browser -->
<div id="xpress_header"></div><div id="xp_browser_wrapper"><h1 class="xp_browser_nav"><a href="./">Model Browser</a> :: BiomarkerAlias</h1>
<div class="xp_browser_new">
<h3>Create a new BiomarkerAlias Object:</h3>
<form method="POST">
<table>
<tr><td>Alias:</td><td><input type="text" name="Alias"/></td></tr>
<tr><td>Biomarker Id:</td><td><input type="text" name="BiomarkerId"/></td></tr>
<tr><td>Biomarker Id:</td><td><input type="text" name="BiomarkerId"/></td></tr>
<tr><td colspan="2" style="text-align:right;"> <input type="submit" name="createObject" value="Create Object"/></td></tr>
</table>
</form>
</div>
<div id="xp_browser_existing">
<h3>Existing BiomarkerAlias Objects:</h3>
<table>
  <tr>
  <th>&nbsp;</th>
<th>&nbsp;
<th>objId</th>
<th>Alias</th>
  </tr>
  <tr>
    <td><a style="text-decoration:none;" href="?id=[obj.objId;block=tr]"><input type="button" value="Edit"/></a>
     <td><form method="POST"><input type="hidden" name="id" value="[obj.objId]"/><input type="submit" name="deleteObject" value="Delete" onclick="return confirm('Really delete this object?');"/></form></td>    <td style="text-align:center;">[obj.objId]</td>
    <td style="text-align:center;">[obj.Alias]</td>
  </tr>
</table>
</div>
</div>

