<!-- TBS template for BiomarkerStudyData object editor -->
<div id="xpress_header"></div><div id="xp_browser_wrapper"><h1 class="xp_browser_nav"><a href="./">Model Browser</a> :: <a href="BiomarkerStudyData.php">BiomarkerStudyData</a> :: Object [var.attr.objId]</h1>
<div id="xp_browser_new">
<h3>Edit BiomarkerStudyData Object:</h3>
<table>
  <tr><th style="text-align:left;background-color:#ddd;padding:3px;">objId:</th><td style="background-color:#cde;padding:3px;">[var.attr.objId]</td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Sensitivity:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Sensitivity">[var.attr.Sensitivity;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Specificity:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Specificity">[var.attr.Specificity;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">PPV:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]PPV">[var.attr.PPV;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">NPV:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]NPV">[var.attr.NPV;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Assay:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Assay">[var.attr.Assay;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Technology:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Technology">[var.attr.Technology;ifempty='click to edit']</div></td></tr>
</table>
</div><div id="xp_browser_existing">
<h3>Edit Relationships:</h3>
<fieldset>
  <legend>Study:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Study.php?id=[var.oStudy.objId]">Study ([var.oStudy.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Biomarker:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Biomarker.php?id=[var.oBiomarker.objId]">Biomarker ([var.oBiomarker.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Publications:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Publication.php?id=[oPublications.objId;block=tr]">Publication ([oPublications.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Resources:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Resource.php?id=[oResources.objId;block=tr]">Resource ([oResources.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Study:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Study.php?id=[var.oStudy.objId]">Study ([var.oStudy.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Biomarker:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Biomarker.php?id=[var.oBiomarker.objId]">Biomarker ([var.oBiomarker.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Publications:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Publication.php?id=[oPublications.objId;block=tr]">Publication ([oPublications.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Resources:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Resource.php?id=[oResources.objId;block=tr]">Resource ([oResources.objId;])</a></td></tr>  </table>
</fieldset>
</div>
</div>

<script type="text/javascript">
new Ajax.InPlaceEditor('[var.o.objId]Sensitivity','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerStudyData&objID=[var.o.objId]&attr=Sensitivity&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Specificity','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerStudyData&objID=[var.o.objId]&attr=Specificity&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]PPV','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerStudyData&objID=[var.o.objId]&attr=PPV&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]NPV','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerStudyData&objID=[var.o.objId]&attr=NPV&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Assay','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerStudyData&objID=[var.o.objId]&attr=Assay&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Technology','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerStudyData&objID=[var.o.objId]&attr=Technology&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
</script>
