<!-- TBS template for Biomarker object editor -->
<div id="xpress_header"></div><div id="xp_browser_wrapper"><h1 class="xp_browser_nav"><a href="./">Model Browser</a> :: <a href="Biomarker.php">Biomarker</a> :: Object [var.attr.objId]</h1>
<div id="xp_browser_new">
<h3>Edit Biomarker Object:</h3>
<table>
  <tr><th style="text-align:left;background-color:#ddd;padding:3px;">objId:</th><td style="background-color:#cde;padding:3px;">[var.attr.objId]</td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">EKE_ID:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]EKE_ID">[var.attr.EKE_ID;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">BiomarkerID:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]BiomarkerID">[var.attr.BiomarkerID;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">PanelID:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]PanelID">[var.attr.PanelID;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Title:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Title">[var.attr.Title;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">ShortName:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]ShortName">[var.attr.ShortName;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Description:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Description">[var.attr.Description;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">QAState:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]QAState">[var.attr.QAState;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Phase:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Phase">[var.attr.Phase;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Security:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Security">[var.attr.Security;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Type:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Type">[var.attr.Type;ifempty='click to edit']</div></td></tr>
</table>
</div><div id="xp_browser_existing">
<h3>Edit Relationships:</h3>
<fieldset>
  <legend>Aliases:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerAlias.php?id=[oAliases.objId;block=tr]">BiomarkerAlias ([oAliases.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Studies:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerStudyData.php?id=[oStudies.objId;block=tr]">BiomarkerStudyData ([oStudies.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>OrganDatas:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerOrganData.php?id=[oOrganDatas.objId;block=tr]">BiomarkerOrganData ([oOrganDatas.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Publications:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Publication.php?id=[oPublications.objId;block=tr]">Publication ([oPublications.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Resources:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Resource.php?id=[oResources.objId;block=tr]">Resource ([oResources.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Aliases:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerAlias.php?id=[oAliases.objId;block=tr]">BiomarkerAlias ([oAliases.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Studies:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerStudyData.php?id=[oStudies.objId;block=tr]">BiomarkerStudyData ([oStudies.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>OrganDatas:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerOrganData.php?id=[oOrganDatas.objId;block=tr]">BiomarkerOrganData ([oOrganDatas.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Publications:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Publication.php?id=[oPublications.objId;block=tr]">Publication ([oPublications.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Resources:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Resource.php?id=[oResources.objId;block=tr]">Resource ([oResources.objId;])</a></td></tr>  </table>
</fieldset>
</div>
</div>

<script type="text/javascript">
new Ajax.InPlaceEditor('[var.o.objId]EKE_ID','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Biomarker&objID=[var.o.objId]&attr=EKE_ID&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]BiomarkerID','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Biomarker&objID=[var.o.objId]&attr=BiomarkerID&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]PanelID','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Biomarker&objID=[var.o.objId]&attr=PanelID&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Title','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Biomarker&objID=[var.o.objId]&attr=Title&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]ShortName','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Biomarker&objID=[var.o.objId]&attr=ShortName&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Description','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Biomarker&objID=[var.o.objId]&attr=Description&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]QAState','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Biomarker&objID=[var.o.objId]&attr=QAState&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Phase','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Biomarker&objID=[var.o.objId]&attr=Phase&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Security','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Biomarker&objID=[var.o.objId]&attr=Security&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Type','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Biomarker&objID=[var.o.objId]&attr=Type&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
</script>
