<!-- TBS template for BiomarkerAlias object editor -->
<div id="xpress_header"></div><div id="xp_browser_wrapper"><h1 class="xp_browser_nav"><a href="./">Model Browser</a> :: <a href="BiomarkerAlias.php">BiomarkerAlias</a> :: Object [var.attr.objId]</h1>
<div id="xp_browser_new">
<h3>Edit BiomarkerAlias Object:</h3>
<table>
  <tr><th style="text-align:left;background-color:#ddd;padding:3px;">objId:</th><td style="background-color:#cde;padding:3px;">[var.attr.objId]</td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Alias:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Alias">[var.attr.Alias;ifempty='click to edit']</div></td></tr>
</table>
</div><div id="xp_browser_existing">
<h3>Edit Relationships:</h3>
<fieldset>
  <legend>Biomarker:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Biomarker.php?id=[var.oBiomarker.objId]">Biomarker ([var.oBiomarker.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Biomarker:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Biomarker.php?id=[var.oBiomarker.objId]">Biomarker ([var.oBiomarker.objId;])</a></td></tr>  </table>
</fieldset>
</div>
</div>

<script type="text/javascript">
new Ajax.InPlaceEditor('[var.o.objId]Alias','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerAlias&objID=[var.o.objId]&attr=Alias&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
</script>
