<!-- TBS template for Person object editor -->
<div id="xpress_header"></div><div id="xp_browser_wrapper"><h1 class="xp_browser_nav"><a href="./">Model Browser</a> :: <a href="Person.php">Person</a> :: Object [var.attr.objId]</h1>
<div id="xp_browser_new">
<h3>Edit Person Object:</h3>
<table>
  <tr><th style="text-align:left;background-color:#ddd;padding:3px;">objId:</th><td style="background-color:#cde;padding:3px;">[var.attr.objId]</td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">FirstName:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]FirstName">[var.attr.FirstName;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">LastName:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]LastName">[var.attr.LastName;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Title:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Title">[var.attr.Title;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Specialty:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Specialty">[var.attr.Specialty;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Phone:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Phone">[var.attr.Phone;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Fax:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Fax">[var.attr.Fax;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Email:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Email">[var.attr.Email;ifempty='click to edit']</div></td></tr>
</table>
</div><div id="xp_browser_existing">
<h3>Edit Relationships:</h3>
<fieldset>
  <legend>Site:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Site.php?id=[oSite.objId;block=tr]">Site ([oSite.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Site:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Site.php?id=[oSite.objId;block=tr]">Site ([oSite.objId;])</a></td></tr>  </table>
</fieldset>
</div>
</div>

<script type="text/javascript">
new Ajax.InPlaceEditor('[var.o.objId]FirstName','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Person&objID=[var.o.objId]&attr=FirstName&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]LastName','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Person&objID=[var.o.objId]&attr=LastName&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Title','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Person&objID=[var.o.objId]&attr=Title&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Specialty','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Person&objID=[var.o.objId]&attr=Specialty&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Phone','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Person&objID=[var.o.objId]&attr=Phone&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Fax','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Person&objID=[var.o.objId]&attr=Fax&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Email','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Person&objID=[var.o.objId]&attr=Email&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
</script>
