<!-- TBS template for Study object editor -->
<div id="xpress_header"></div><div id="xp_browser_wrapper"><h1 class="xp_browser_nav"><a href="./">Model Browser</a> :: <a href="Study.php">Study</a> :: Object [var.attr.objId]</h1>
<div id="xp_browser_new">
<h3>Edit Study Object:</h3>
<table>
  <tr><th style="text-align:left;background-color:#ddd;padding:3px;">objId:</th><td style="background-color:#cde;padding:3px;">[var.attr.objId]</td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">EDRNID:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]EDRNID">[var.attr.EDRNID;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">FHCRC_ID:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]FHCRC_ID">[var.attr.FHCRC_ID;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">DMCC_ID:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]DMCC_ID">[var.attr.DMCC_ID;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Title:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Title">[var.attr.Title;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Abstract:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Abstract">[var.attr.Abstract;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">BiomarkerPopulationCharacteristics:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]BiomarkerPopulationCharacteristics">[var.attr.BiomarkerPopulationCharacteristics;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">BPCDescription:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]BPCDescription">[var.attr.BPCDescription;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Design:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Design">[var.attr.Design;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">DesignDescription:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]DesignDescription">[var.attr.DesignDescription;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">BiomarkerStudyType:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]BiomarkerStudyType">[var.attr.BiomarkerStudyType;ifempty='click to edit']</div></td></tr>
</table>
</div><div id="xp_browser_existing">
<h3>Edit Relationships:</h3>
<fieldset>
  <legend>Biomarkers:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerStudyData.php?id=[oBiomarkers.objId;block=tr]">BiomarkerStudyData ([oBiomarkers.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>BiomarkerOrgans:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerOrganData.php?id=[oBiomarkerOrgans.objId;block=tr]">BiomarkerOrganData ([oBiomarkerOrgans.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>BiomarkerOrganDatas:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerOrganStudyData.php?id=[oBiomarkerOrganDatas.objId;block=tr]">BiomarkerOrganStudyData ([oBiomarkerOrganDatas.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Publications:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Publication.php?id=[oPublications.objId;block=tr]">Publication ([oPublications.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Resources:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Resource.php?id=[oResources.objId;block=tr]">Resource ([oResources.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Biomarkers:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerStudyData.php?id=[oBiomarkers.objId;block=tr]">BiomarkerStudyData ([oBiomarkers.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>BiomarkerOrgans:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerOrganData.php?id=[oBiomarkerOrgans.objId;block=tr]">BiomarkerOrganData ([oBiomarkerOrgans.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>BiomarkerOrganDatas:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerOrganStudyData.php?id=[oBiomarkerOrganDatas.objId;block=tr]">BiomarkerOrganStudyData ([oBiomarkerOrganDatas.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Publications:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Publication.php?id=[oPublications.objId;block=tr]">Publication ([oPublications.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Resources:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Resource.php?id=[oResources.objId;block=tr]">Resource ([oResources.objId;])</a></td></tr>  </table>
</fieldset>
</div>
</div>

<script type="text/javascript">
new Ajax.InPlaceEditor('[var.o.objId]EDRNID','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Study&objID=[var.o.objId]&attr=EDRNID&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]FHCRC_ID','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Study&objID=[var.o.objId]&attr=FHCRC_ID&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]DMCC_ID','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Study&objID=[var.o.objId]&attr=DMCC_ID&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Title','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Study&objID=[var.o.objId]&attr=Title&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Abstract','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Study&objID=[var.o.objId]&attr=Abstract&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]BiomarkerPopulationCharacteristics','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Study&objID=[var.o.objId]&attr=BiomarkerPopulationCharacteristics&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]BPCDescription','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Study&objID=[var.o.objId]&attr=BPCDescription&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Design','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Study&objID=[var.o.objId]&attr=Design&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]DesignDescription','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Study&objID=[var.o.objId]&attr=DesignDescription&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]BiomarkerStudyType','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=Study&objID=[var.o.objId]&attr=BiomarkerStudyType&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
</script>
