<!-- TBS template for BiomarkerOrganData object editor -->
<div id="xpress_header"></div><div id="xp_browser_wrapper"><h1 class="xp_browser_nav"><a href="./">Model Browser</a> :: <a href="BiomarkerOrganData.php">BiomarkerOrganData</a> :: Object [var.attr.objId]</h1>
<div id="xp_browser_new">
<h3>Edit BiomarkerOrganData Object:</h3>
<table>
  <tr><th style="text-align:left;background-color:#ddd;padding:3px;">objId:</th><td style="background-color:#cde;padding:3px;">[var.attr.objId]</td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">SensitivityMin:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]SensitivityMin">[var.attr.SensitivityMin;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">SensitivityMax:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]SensitivityMax">[var.attr.SensitivityMax;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">SensitivityComment:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]SensitivityComment">[var.attr.SensitivityComment;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">SpecificityMin:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]SpecificityMin">[var.attr.SpecificityMin;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">SpecificityMax:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]SpecificityMax">[var.attr.SpecificityMax;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">SpecificityComment:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]SpecificityComment">[var.attr.SpecificityComment;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">PPVMin:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]PPVMin">[var.attr.PPVMin;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">PPVMax:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]PPVMax">[var.attr.PPVMax;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">PPVComment:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]PPVComment">[var.attr.PPVComment;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">NPVMin:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]NPVMin">[var.attr.NPVMin;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">NPVMax:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]NPVMax">[var.attr.NPVMax;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">NPVComment:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]NPVComment">[var.attr.NPVComment;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">QAState:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]QAState">[var.attr.QAState;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Phase:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Phase">[var.attr.Phase;ifempty='click to edit']</div></td></tr>
<tr><th style="text-align:left;background-color:#ddd;padding:3px;">Description:</th><td style="background-color:#cde;padding:3px;"><div id="[var.attr.objId]Description">[var.attr.Description;ifempty='click to edit']</div></td></tr>
</table>
</div><div id="xp_browser_existing">
<h3>Edit Relationships:</h3>
<fieldset>
  <legend>Organ:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Organ.php?id=[var.oOrgan.objId]">Organ ([var.oOrgan.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Biomarker:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Biomarker.php?id=[var.oBiomarker.objId]">Biomarker ([var.oBiomarker.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Resources:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Resource.php?id=[oResources.objId;block=tr]">Resource ([oResources.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Publications:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Publication.php?id=[oPublications.objId;block=tr]">Publication ([oPublications.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>StudyDatas:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerOrganStudyData.php?id=[oStudyDatas.objId;block=tr]">BiomarkerOrganStudyData ([oStudyDatas.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Organ:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Organ.php?id=[var.oOrgan.objId]">Organ ([var.oOrgan.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Biomarker:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Biomarker.php?id=[var.oBiomarker.objId]">Biomarker ([var.oBiomarker.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Resources:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Resource.php?id=[oResources.objId;block=tr]">Resource ([oResources.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>Publications:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="Publication.php?id=[oPublications.objId;block=tr]">Publication ([oPublications.objId;])</a></td></tr>  </table>
</fieldset>
<fieldset>
  <legend>StudyDatas:</legend>
  <table>
    <tr><th>Object Type (ID)</th></tr>    <tr><td><a href="BiomarkerOrganStudyData.php?id=[oStudyDatas.objId;block=tr]">BiomarkerOrganStudyData ([oStudyDatas.objId;])</a></td></tr>  </table>
</fieldset>
</div>
</div>

<script type="text/javascript">
new Ajax.InPlaceEditor('[var.o.objId]SensitivityMin','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=SensitivityMin&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]SensitivityMax','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=SensitivityMax&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]SensitivityComment','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=SensitivityComment&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]SpecificityMin','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=SpecificityMin&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]SpecificityMax','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=SpecificityMax&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]SpecificityComment','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=SpecificityComment&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]PPVMin','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=PPVMin&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]PPVMax','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=PPVMax&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]PPVComment','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=PPVComment&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]NPVMin','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=NPVMin&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]NPVMax','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=NPVMax&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]NPVComment','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=NPVComment&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]QAState','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=QAState&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Phase','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=Phase&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
new Ajax.InPlaceEditor('[var.o.objId]Description','../../../xpress/js/AjaxHandler.php', { callback: function(form, value) { return 'action=update&objType=BiomarkerOrganData&objID=[var.o.objId]&attr=Description&value='+encodeURIComponent(value);},cols:14,rows:1,highlightcolor:"#cccccc",highlightendcolor:"#dddddd"});
</script>
