<!-- TBS template for Xiuser object browser -->
<div id="xpress_header"></div><div id="xp_browser_wrapper"><h1 class="xp_browser_nav"><a href="./">Model Browser</a> :: Xiuser</h1>
<div class="xp_browser_new">
<h3>Create a new Xiuser Object:</h3>
<form method="POST">
<table>
<tr><td>ObjectClass:</td><td><input type="text" name="ObjectClass"/></td></tr>
<tr><td>ObjectId:</td><td><input type="text" name="ObjectId"/></td></tr>
<tr><td>UserName:</td><td><input type="text" name="UserName"/></td></tr>
<tr><td>Password:</td><td><input type="text" name="Password"/></td></tr>
<tr><td>EmailAddress:</td><td><input type="text" name="EmailAddress"/></td></tr>
<tr><td>Created:</td><td><input type="text" name="Created"/></td></tr>
<tr><td>Status:</td><td><input type="text" name="Status"/></td></tr>
<tr><td>LastLogin:</td><td><input type="text" name="LastLogin"/></td></tr>
<tr><td colspan="2" style="text-align:right;"> <input type="submit" name="createObject" value="Create Object"/></td></tr>
</table>
</form>
</div>
<div id="xp_browser_existing">
<h3>Existing Xiuser Objects:</h3>
<table>
  <tr>
  <th>&nbsp;</th>
<th>&nbsp;
<th>objId</th>
<th>ObjectClass</th>
<th>ObjectId</th>
<th>UserName</th>
<th>Password</th>
<th>EmailAddress</th>
<th>Created</th>
<th>Status</th>
<th>LastLogin</th>
  </tr>
  <tr>
    <td><a style="text-decoration:none;" href="?id=[obj.objId;block=tr]"><input type="button" value="Edit"/></a>
     <td><form method="POST"><input type="hidden" name="id" value="[obj.objId]"/><input type="submit" name="deleteObject" value="Delete" onclick="return confirm('Really delete this object?');"/></form></td>    <td style="text-align:center;">[obj.objId]</td>
    <td style="text-align:center;">[obj.ObjectClass]</td>
    <td style="text-align:center;">[obj.ObjectId]</td>
    <td style="text-align:center;">[obj.UserName]</td>
    <td style="text-align:center;">[obj.Password]</td>
    <td style="text-align:center;">[obj.EmailAddress]</td>
    <td style="text-align:center;">[obj.Created]</td>
    <td style="text-align:center;">[obj.Status]</td>
    <td style="text-align:center;">[obj.LastLogin]</td>
  </tr>
</table>
</div>
</div>

