<div id="outer_wrapper">
<div id="main_section">
	<h4>Associated Organs:</h4>
	<ul style="list-style:square;color:#900003;">
	  <li><a href="../biomarkerorgan/?id=20">[organData.Organ.Name]</a></li>
	</ul>
</div>
<div id="options_section">
	<h5>Associate an Organ:</h5>
	<select>
	  <option value="lung">Lung</option>
	</select>
	<input type="button" value="Associate"/>
</div>
</div><!-- end outer_wrapper -->
<script type="text/javascript">
	[onload;block=script;noerr;when [var.editable] != 0]
</script>