[onload;file='view/menu.html']
<div id="outer_wrapper">
<div id="main_section">
	<h4>Associated Publications:</h4>
	<ul>
	  <li><a href="../publication/?id=[pub.objId]">[pub.Title;block=li]</a><br/>
	  <span class="hint">Author: [pub.Author]. Published in [pub.Year] in: [pub.Journal] (volume [pub.Volume], issue [pub.Issue])</span> &nbsp;
	  <span class="hint">[<a class="removepub" href="./?id=[var.b.objId]&view=publications&remove_publication=[pub.objId]">Remove Association</a>]</span>
	  </li>
	</ul>
</div>
<div id="options_section" style="width:350px;">
	<div class="hidelink">[ <span id="optxp" class="optionswitch pseudolink">show more/less</span> ]</div>
	<h5>Associate a Publication:</h5>
	<div id="options_content" style="display:none;">
		<ul class="minimenu publications">
		  <li id="li_local" class="activelink" style="border-left:solid 1px #aaa;"><span class="pseudolink local">Local</span></li>
		  <li id="li_pubmed"><span class="pseudolink pubmed">PubMed</span></li>
		  <li id="li_other"><span class="pseudolink other">Other</span></li>
		</ul>
		<div class="clr"><!--  --></div>
		<!-- LOCAL PUBLICATION ASSOCIATION -->
		<div id="div_local" class="minimenucontent" style="display:block;">
			<h4>Local Lookup</h4>
			<form action="[var..script_name]" method="POST">
				<input type="hidden" name="biomarker_id" value="[var.b.objId]"/>
				<span class="hint" style="float:left;">Begin typing. A list of options will appear.</span>
				<input type="submit" name="associate_publication" value="Associate" style="float:right;padding:2px;"/>
			</form>
		</div>
		<!-- PUBMED IMPORT & ASSOCIATION -->
		<div id="div_pubmed" class="minimenucontent" style="display:none;">
			<h4>PubMed Import</h4>
		</div>
		<!-- OTHER IMPORT AND ASSOCIATION -->
		<div id="div_other" class="minimenucontent" style="display:none;">
		
		</div>
	</div>
</div>
</div><!-- end outer_wrapper -->