<div id="outer_wrapper">
<div id="main_section">
	<h4 style="margin-bottom:19px;">External Resources:</h4>
	<ul style="list-style:square;color:#900003;margin:0px;padding:0px;list-style-type:none;list-style-position:inside;">
	  <li style="margin-bottom:15px;"><a href="[res.URL]">[res.Name;block=li]</a><br/>
	  <span class="hint" style="color:#888;">[res.URL]</span>
	  <span class="hint">[<a href="./?id=[var.b.objId]&view=resources&remove_resource=[res.objId]" onclick="return confirm('Resource \'[res.URL]\' will be deleted. Proceed?');">Remove Resource</a>]</span></li>
	</ul>
</div>
<div id="options_section" style="width:350px;">
	<div id="hidelink">[ <span id="optxp" class="pseudolink" onclick="$('options_content').toggle();">show more/less</span> ]</div>
	<h5>Associate a Resource:</h5>
	<div id="options_content" style="display:none;">
		<form action="[var..script_name]" method="POST">
		<input type="hidden" name="biomarker_id" value="[var.b.objId]"/>
		Descriptive Phrase:
		<textarea name="description" rows="2" cols="30" style="width:100%;border:inset 1px #ccc;margin-bottom:6px;"></textarea>
		URL:
		<input type="text" name="url" style="width:100%;margin-bottom:6px;color:#000;" value="http://"/>
		<input type="submit" name="associate_resource" style="float:right;" value="Associate"/>
		</form>
	</div>
</div>
</div><!-- end outer_wrapper -->
<script type="text/javascript">
	[onload;block=script;noerr;when [var.editable] != 0]
</script>