<div id="outer_wrapper">
<div id="main_section">
	<h4 style="margin-bottom:19px;">Associated Studies:</h4>
	<ul style="list-style:square;color:#900003;margin:0px;padding:0px;list-style-position:inside;list-style:none;">
	  <li style="margin-bottom:25px;"><span id="summary[studyData.objId]">
	  	<a href="../biomarkerorgan/?id=20">[studyData.Study.Title;block=li]</a><br/>
	  	<span class="hint">
	  	  [<span class="pseudolink detailswitch id:[studyData.objId]">View Associated Data</span>] 
	  	  [<a href="../study/?id=[studyData.Study.objId]">Go To Study</a>]
	  	  [<a class="remove" href="./?id=[var.b.objId]&remove_study=[studyData.objId]">Remove Association</a>]
	  	</span>
	  </span><span id="details[studyData.objId]" style="display:none;">
	  <fieldset><legend>[studyData.Study.Title] &nbsp;
		<span class="hint">[ <span class="pseudolink detailswitch id:[studyData.objId]">(Hide Details)</span> ]</span></legend>
	  	<h4>Abstract: &nbsp;&nbsp;<span class="hint">(from <a href="../study/?id=[studyData.Study.objId]">here</a>)</span></h4>
		<div style="padding-left: 10px; padding-right: 10px; padding-bottom: 15px; font-size: 90%; line-height: 1.3em; text-align: justify;">
		[studyData.Study.StudyAbstract;ifempty='<em>No Abstract Available</em>']
		</div>
		<h4>Pertinent Data</h4>
		<table class="editable_info">
		  <tr><td class="label">Sensitivity:</td><td style="width:200px;"><span id="sensitivity[studyData.objId]">[studyData.Sensitivity]</span></td></tr>
		  <tr><td class="label">Specificity:</td><td><span id="specificity[studyData.objId]">[studyData.Specificity]</span></td></tr>
		  <tr><td class="label">Negative Predictive Value:</td><td><span id="npv[studyData.objId]">[studyData.NPV]</span></td></tr>
		  <tr><td class="label">Positive Predictive Value:</td><td><span id="ppv[studyData.objId]">[studyData.PPV]</span></td></tr>
		</table>
		<h4>Associated Publications</h4>
		<ul>
			<li>[studyPublications.Title;block=li;p1=[studyData.$]]</li>
		</ul>
	  </fieldset>
	  </span>
	  </li>
	</ul>
</div>
<div id="options_section" style="width:350px;">
	<div class="hidelink">[ <span id="optxp" class="pseudolink optionswitch">show more/less</span> ]</div>
	<h5>Associate a Study:</h5>
	<div id="options_content" style="display:none;">
		<form action="[var..script_name]" method="POST">
		<input type="hidden" name="biomarker_id" value="[var.b.objId]"/>
		<input type="hidden" id="study_id" name="study_id" value=""/>
		<input type="text" id="study-search" value="" style="width:100%;"/>
		<span class="hint" style="float:left;">Begin typing. A list of options will appear.</span>
		<input type="submit" name="associate_study" value="Associate" style="float:right;padding:2px;"/>
		</form>
	</div>
</div>
</div><!-- end outer_wrapper -->