[onload;file=view/edrn_prologue.html;]
<div class="menu">
	<div class="mainContent">
		<h2 class="title">EDRN Biomarker Database</h2>
	</div>
	<!-- Breadcrumbs Area -->
	<div id="breadcrumbs"/>
		Home
	</div><!-- End Breadcrumbs -->
</div>
<div style="background-color:#fff;padding-left:66%;position:relative;min-height:300px;border-bottom:solid 0px #666;">
<div style="background-color:#fff;position:absolute;left:0;height:100%;width:33%;">
	<div style="padding:5px;">
	<h4>Biomarkers</h4></div>
	<ul style="list-style-type:square;color:#500003;">
	  <li><a href="browse/biomarkers/">Browse Existing Biomarkers</a></li>
	  <li><a href="create/biomarker/">Create a New Biomarker</a></li>
	</ul>
	</div>
<div style="background-color:#fff;position:absolute;left:33%;height:100%;border-left:solid 1px #999;border-right:solid 1px #bbb;width:33%;">
	<div style="padding:5px;">
	<h4>Studies</h4></div>
	<ul style="list-style-type:square;color:#500003;">
	  <li><a href="browse/studies/">Browse Existing Studies</a></li>
	  <li><a href="create/study/">Create non-EDRN Study</a></li>
	</ul>
	</div>
<div style="float:left;border-left:solid 1px #aaa;">
	<div style="padding:5px;">
	<h4>Publications</h4></div>
	<ul style="list-style-type:square;color:#500003;">
	  <li><a href="browse/publications/">Browse Existing Publications</a></li>
	  <li><a href="#">Import from Pub-Med</a></li>
	</ul>
	</div>
<div class="clr"><!--  --></div>
</div>
